@model HomeOutsideWeatherStation.Models.Home.HomeIndexModel

@{
    ViewBag.Title = "Home Outside Weather Station";
}

<h6>Home Outside Weather Station</h6>
Temperature: @Model.CurrentTemperature
<br />
Feels like: @Model.CurrentTemperatureFeelsLike
<br />
Heat index: @Model.CurrentHeatIndex
