body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.TemperatureLine {
  fill: none;
  stroke: #D6212A;
  stroke-width: 1.5px;
}

.TemperatureFeelsLikeLine {
    fill: none;
    stroke: #AD55A1;
    stroke-width: 1.5px;
}

.HumidityLine {
  fill: none;
  stroke: #87C404;
  stroke-width: 1.5px;
}

.PressureLine {
  fill: none;
  stroke: #1E2023;
  stroke-width: 1.5px;
}

.DewPointLine {
  fill: none;
  stroke: #5B9F4A;
  stroke-width: 1.5px;
}

.WindSpeedLine {
  fill: none;
  stroke: #002F80;
  stroke-width: 1.5px;
}

.FeelsLikeLine {
  fill: none;
  stroke: #AD55A1;
  stroke-width: 1.5px;
}

.RainLine {
  fill: none;
  stroke: #0074A2;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
