body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.TemperatureLine {
  fill: none;
  stroke: #D6212A;
  stroke-width: 1.5px;
}

.SeriesColor {
    position: relative;
}

.SeriesColorText {
    padding-left: 30px;
}

.TemperatureBox {
    width: 20px;
    height: 10px;
    display: inline-block;
    background-color: #D6212A;
    position: absolute;
    left: 5px;
    top: 5px;
}



.TemperatureFeelsLikeLine {
    fill: none;
    stroke: #AD55A1;
    stroke-width: 1.5px;
}

.FeelsLikeBox {
    width: 20px;
    height: 10px;
    display: inline-block;
    background-color: #AD55A1;
    position: absolute;
    left: 5px;
    top: 5px;
}

.SolarLine {
  fill: none;
  stroke: #D6212A;
  stroke-width: 1.5px;
}

.SolarBox {
    width: 20px;
    height: 10px;
    display: inline-block;
    background-color: #D6212A;
    position: absolute;
    left: 5px;
    top: 5px;
}

.WindDirectionLine {
  fill: none;
  stroke: #D6212A;
  stroke-width: 1.5px;
}

.WindDirectionBox {
    width: 20px;
    height: 10px;
    display: inline-block;
    background-color: #D6212A;
    position: absolute;
    left: 5px;
    top: 5px;
}

.BatteryLine {
    fill: none;
    stroke: #AD55A1;
    stroke-width: 1.5px;
    opacity: 0.5;
}

.BatteryBox {
    width: 20px;
    height: 10px;
    display: inline-block;
    background-color: #AD55A1;
    position: absolute;
    left: 5px;
    top: 5px;
}

.HumidityLine {
  fill: none;
  stroke: #87C404;
  stroke-width: 1.5px;
}

.HumidityBox {
    width: 20px;
    height: 10px;
    display: inline-block;
    background-color: #87C404;
    position: absolute;
    left: 5px;
    top: 5px;
}

.PressureLine {
  fill: none;
  stroke: #1E2023;
  stroke-width: 1.5px;
}

.PressureBox {
    width: 20px;
    height: 10px;
    display: inline-block;
    background-color: #1E2023;
    position: absolute;
    left: 5px;
    top: 5px;
}

.CurrentRainBox {
    width: 20px;
    height: 10px;
    display: inline-block;
    background-color: #22730B;
    position: absolute;
    left: 5px;
    top: 5px;
}

.TotalRainBox {
    width: 20px;
    height: 10px;
    display: inline-block;
    background-color: #0074A2;
    position: absolute;
    left: 5px;
    top: 5px;
}

.TotalRainLine {
  fill: none;
  stroke: #0074A2;
  stroke-width: 1.5px;
}

.DewPointLine {
  fill: none;
  stroke: #5B9F4A;
  stroke-width: 1.5px;
}

.DewPointBox {
    width: 20px;
    height: 10px;
    display: inline-block;
    background-color: #5B9F4A;
    position: absolute;
    left: 5px;
    top: 5px;
}


.WindSpeedLine {
  fill: none;
  stroke: #002F80;
  stroke-width: 1.5px;
}

.WindSpeedBox {
    width: 20px;
    height: 10px;
    display: inline-block;
    background-color: #002F80;
    position: absolute;
    left: 5px;
    top: 5px;
}

.GustSpeedLine {
  fill: none;
  stroke: #8BD5EE;
  stroke-width: 1.5px;
}

.GustSpeedBox {
    width: 20px;
    height: 10px;
    display: inline-block;
    background-color: #8BD5EE;
    position: absolute;
    left: 5px;
    top: 5px;
}

.FeelsLikeLine {
  fill: none;
  stroke: #AD55A1;
  stroke-width: 1.5px;
}

.RainLine {
  fill: none;
  stroke: #0074A2;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

  .tick line{
    opacity: 0.2;
  }

.TenDayWeatherHistoryTable, th, td {
    border-collapse: collapse;
    border-spacing: 0;
}

.TenDayWeatherHistoryTable {
    margin-left: 50px;
    margin-right: 50px;
    width: 1120px;
    table-layout: fixed;
    overflow: hidden;
    border: 1px solid #D7D7D7;
    border-left: 0px;
}

.TenDayWeatherHistoryTable td {
    width: 108px;
    min-width: 106px;
    max-width: 106px;
    padding: 0px;
    overflow-x: hidden;
    display: inline-block;
    white-space: nowrap;
    border-left: 1px solid #D7D7D7;
    margin-top: -4px;
}



.TenDayWeatherHistoryTableTopRow {
    border-bottom: 1px solid #D7D7D7;
}

.HomeCurrentDataTable {
    border: none;
    
}

.HomeCurrentDataTable td {
    border: none;
    padding-bottom: 5px;
    padding-right: 40px;
}

.HomeCurrentDataTable th .HomeCurrentDataTable tr {
    border: none;
}